* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../img/shinkansen.jpeg');
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

/* utlities*/

.text-center {
    text-align: center;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.d-inline-b {
    display: inline-block;
}

.p-5 {
    padding: 5px;
}

.text-white {
    color: white;
}

/*container top*/

.container {
    width: 60%;
    margin: 100px auto;
    border-radius: 20px;
    background-color:rgba(100, 148, 237, 0.699);
    padding: 3rem;
}

.title {
    vertical-align: top;
    padding-top: 5px;
}

.card {
    width: 70%;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 3rem auto;
}

.parametro {
    width: calc(100% / 3);
}


.input_style {
    border: solid 1px grey;
    border-radius: 5px;
}

#my_btn {
    background-color: rgb(73, 219, 73);
    border-radius: 5px;
    border: solid 1px black;
    margin: 0 2rem;
}

#my_btn_reset {
    background-color: rgb(214, 214, 3);
    border-radius: 5px;
    border: solid 1px black;
    margin: 0 2rem;
}

.buttons {
    width: 100%;
    margin-top: 3rem;
}

/*container bottom*/

.parametro_b {
    width: calc(100% / 5);
}
